/*
  _     _            _                    _                         _                
 | |__ | | __ _  ___| | _____ _ __   ___ | |_  __      ____ _ _   _| |__   __ _ _ __ 
 | '_ \| |/ _` |/ __| |/ / __| '_ \ / _ \| __| \ \ /\ / / _` | | | | '_ \ / _` | '__|
 | |_) | | (_| | (__|   <\__ \ |_) | (_) | |_   \ V  V / (_| | |_| | |_) | (_| | |   
 |_.__/|_|\__,_|\___|_|\_\___/ .__/ \___/ \__|   \_/\_/ \__,_|\__, |_.__/ \__,_|_|   
                             |_|                              |___/                  
*/


/* MAIN WAYBAR PANEL */
window#waybar {
    background-color: rgba(30, 30, 30, 0.50);
    color: #f2f2f2;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 11px;
    border: 2px solid #333333;
    border-radius: 8px;
}

/* WORKSPACES */
#workspaces button {
    background: transparent;
    border: none;
    color: #f2f2f2;
    padding: 4px 12px;
    margin: 0 3px;
    box-shadow: none;
    border-radius: 0;
}

#workspaces button.active {
    background: rgba(255, 255, 255, 0.10);
    color: #ffffff;
    text-decoration: underline;
    padding: 4px 12px;
}

/* CLOCK */
#clock {
    background: transparent;
    border: none;
    color: #f2f2f2;
    padding: 4px 12px;
}

/* TRAY */
#tray {
    background: transparent;
    border: none;
    padding: 4px 12px;
}

/* NETWORK */
#network {
    background: transparent;
    border: none;
    padding: 4px 12px;
}

/* BATTERY */
#battery {
    background: transparent;
    border: none;
    padding: 4px 12px;
}

/* LEFT PANEL */
#custom-left_panel {
	padding: 0 10px;
	margin-left: 10px;
	margin-right: 6px;
	font-size: 14px;
	color: #f2f2f2
}

#custom-left_panel:hover {
	color: #f2f2f2;
	background-color: rgba(255, 255, 255, 0.08);
}
